<table class="table table-hover">
  <tbody>
    <% @merchants.each do |m| %>
      <tr>
        <td><a href="/merchants/<%= m.id %>"><%= m.name %>
        <br><%= m.address %></td>
        <td><a href="/merchants/<%= m.id %>"><br><%= "*****" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-md-12 navbar navbar-default">
  <a href="/map">See on the map</a>
</div>