<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @merchant.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @merchant.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @merchant.lng %>
</p>

<p>
  <strong>Category:</strong>
  <%= @merchant.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @merchant.location %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @merchant.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @merchant.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @merchant.email %>
</p>

<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
