<div class="col-md-12 navbar-default showone" data-hidden="<%= @merchant.id %>">
  <button type="button" class="btn btn-default btn-lg btn-block myButton">
    <%= link_to 'Show map', map_merchant_path %>
  </button>
</div>

<div class="col-md-12 navbar navbar-default">  
 
  <p><h4>
    <%= @merchant.name %>
  </h4></p>

  <% if @average==5 %>
    <p><%= link_to 'Reviews: ', reviews_merchant_path(@merchant) %>

      <span class="glyphicon glyphicon-star"
      ></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    </p>
  <% elsif @average==4 %>
    <p><%= link_to 'Reviews: ', reviews_merchant_path(@merchant) %>
      <span class="glyphicon glyphicon-star"
      ></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </p>
  <% elsif @average==3 %>
    <p><%= link_to 'Reviews: ', reviews_merchant_path(@merchant) %>
      <span class="glyphicon glyphicon-star"
      ><span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star-empty"><span class="glyphicon glyphicon-star-empty">
    </p>
  <% elsif @average==2 %>
    <p><%= link_to 'Reviews: ', reviews_merchant_path(@merchant) %>
      <span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star-empty"><span class="glyphicon glyphicon-star-empty"><span class="glyphicon glyphicon-star-empty">
    </p>
  <% elsif @average==1 %>
    <p><%= link_to 'Reviews: ', reviews_merchant_path(@merchant) %>
      <span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star-empty"><span class="glyphicon glyphicon-star-empty"><span class="glyphicon glyphicon-star-empty"><span class="glyphicon glyphicon-star-empty">
    </p>
  <% else %>
  <% end %>

  <form class="form-horizontal" role="form">
    <% if @merchant.address? %>
      <div class="form-group">
        <label class="col-xs-2 control-label">
        <span class="glyphicon glyphicon-map-marker"></span></label>
        <div class="col-sm-5">
          <p class="form-control-static"><%= @merchant.address %></p>
        </div>
      </div>
    <% else %>
    <% end %>
    <% if @merchant.phone? %>
      <div class="form-group">
        <label class="col-xs-2 control-label"><span class="glyphicon glyphicon-earphone"></span></label>
        <div class="col-sm-5">
          <p class="form-control-static"><%= @merchant.phone %></p>
        </div>
      </div>
    <% else %>
    <% end %>
    <% if @merchant.website? %>
      <div class="form-group">
        <label class="col-xs-2 control-label"><span class="glyphicon glyphicon-globe"></span></label>
        <div class="col-sm-5">
          <p class="form-control-static"><%= @merchant.website %></p>
        </div>
      </div>
    <% else %>
    <% end %>
  </form>

</div>
