<p id="notice"><%= notice %></p>

<%= link_to 'Back', merchants_path %>

<p>
  <%= @merchant.name %>
</p>

<p>
Reviews: *****
</p>

<p>
  <strong><span class="glyphicon glyphicon-map-marker"></span></strong>
  <%= @merchant.address %>
</p>

<p>
  <strong><span class="glyphicon glyphicon-earphone"></strong>
  <%= @merchant.phone %>
</p>

<p>
  <strong><span class="glyphicon glyphicon-globe"></strong></strong>
  <%= @merchant.website %>
</p>
