<div class="col-md-12 navbar-default showone" data-hidden="<%= @merchant.id %>">
  <button type="button" class="btn btn-default btn-lg btn-block myButton">
    <%= link_to 'See on the map', map_merchant_path %>
  </button>
</div>

<p id="notice"><%= notice %></p>

<div class="col-md-12 navbar navbar-default">  
  <p>
    <%= @merchant.name %>
  </p>

  <p>
  Reviews: <%= @merchant.reviews_score %>
  </p>

  

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-xs-2 control-label"><span class="glyphicon glyphicon-map-marker"></span></label>
      <div class="col-sm-5">
        <p class="form-control-static"><%= @merchant.address %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label"><span class="glyphicon glyphicon-earphone"></span></label>
      <div class="col-sm-5">
        <p class="form-control-static"><%= @merchant.phone %></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label"><span class="glyphicon glyphicon-globe"></span></label>
      <div class="col-sm-5">
        <p class="form-control-static"><%= @merchant.website %></p>
      </div>
    </div>
  </form>

</div>
